$MainHeadColor: #000000;
$Maintextcolor: #4e4e4e;
@import "./MoneyTalks";
@import "./origin";
@import "./sizechart";

html,
body {
  height: 100%;
  overflow-x: hidden; // Prevent horizontal scrolling but keep vertical scrolling
  scroll-behavior: smooth;
}

* {
  //// outline: 2px solid red;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  color: rgb(92, 92, 91);
  a {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.PINAKACONTAINER {
  height: 100vh;
  width: 100%;
  background-image: url("./images/contacts2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
}

header {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  // // outline: 2px solid rgb(114, 0, 0);
  height: 12.5vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0; // Add this to make it stick when scrolling down
  z-index: 1000;

  .Navigation {
    display: flex;
    flex-direction: row;
    // // outline: 2px solid black;
    width: 95%;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 100%;
    padding: 10px;

    .NavIcon {
      width: auto;
      margin: auto;
      // // outline: 2px solid blue;
      column-gap: 5%;

      h1 {
        font-size: 2.5vw;
        font-family: Arial, Helvetica, sans-serif;
        color: $MainHeadColor;
      }
    }

    .MainNav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: auto;
      text-align: center;
      // // outline: 2px solid blue;
      column-gap: 5%;
      margin-right: 50%;

      a {
        font-size: 1vw;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-decoration: none;
        list-style: none;
        list-style-type: none;
        // // outline: 2px solid black;

        transition: 0.5s;
        &:hover {
          background-color: #000000;
        }
      }
    }
  }
}

.HeroStrip {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  background-color: black;
  text-align: center;
  z-index: 1;

  // // outline: 2px solid black;

  h1 {
    font-size: 6vw;
    font-family: Arial, Helvetica, sans-serif;
    color: $Maintextcolor;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5vh;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  // // outline: 2px solid black;

  p {
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    color: $MainHeadColor;
  }
}
